# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*

# Mail
MAIL_DOMAIN=lan.local
SMTP_HOST=127.0.0.1
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_EMAIL=user1@lan.local
IMAP_HOST=127.0.0.1

# System
DJANGO_SYSTEM_USER=ubuntu

# Docker only
USERS=user1,user2,user3
USER_PASSWORDS=user112345,user212345,user312345
